*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
header{
display: flex;
background-color: #2471a3    ;
box-shadow: 1px 2px 5px black;
}
.present-mini{
width: 100rem;
margin: 10px 20px;
}

.peque{
display: flex;
align-items: center;
}
.peque > a {
display: inline-flex;
margin: 10px 6px;
text-decoration: none;
color: black;
font-size: 14px;
font-weight: bolder;
}

.peque > a > img{
margin: 0px 10px;
height: 25px;

}

/* compras,cuenta, promociones  */

.selec{
display: flex;
/* width: 100%; */
padding: 10px;
background-color:   #d7bde2 ;
box-shadow: 1px 1px 5px;
}

.selec-2 > a{
margin: 0px 10px;
text-decoration: none;
color: black;
font-size: 15px;
font-weight: bolder;
transition-duration: 0.3s;
}

.selec-2 > a > img {
height: 25px;
margin: 0px 10px;
}

.selec-3{
display: flex;
justify-content: flex-end;
width: 50rem;
}

.selec-3 > input{
padding: 5px 30px;
border-radius: 20px; 
border: none;

}


.alimetos  > h2 {
margin: 30px;
margin-top: 130px;
text-align: center;
font-size: 30px;
}

.mover{

display: flex;
justify-content: center;
align-items: center;
}

.mover > div{

width: 90px;
height: 5px;
background-color: black;
}

.componentes{
display: flex;
/* grid-template-columns: repeat(4, 220px);  */
/* grid-template-rows: auto; */
/* gap: 30px; */

justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.More-recomendaciones{
height: 80px;
margin: 70px;

background-color:     #2471a3    ;
border-radius: 20px ;

display: flex;
justify-content: center;
align-items: center;
}

.More-recomendaciones > a{
text-decoration: none;
font-size: 20px;
font-weight: bolder;
color: black;
margin: 0px 30px;
transition-duration: 0.3s;
}

.informar{
display: flex;
justify-content: center;
align-items: center;
}


.primero,.segundo{
width: 25rem;
height: 400px;
margin: 40PX;
border-radius: 20px;
box-shadow: 2px 2px 4px black;
background-color:     #2471a3    ;
transition-duration: 0.3s;

}

.primero > img{
display: block;
width: 25rem;
height: 200px;
border-radius: 20px 20px 0px 0px;
}

.primero > h2{
position: relative;
bottom: 60px;
font-size: 35px;


margin: 0px 20px;
}
.primero > p {
font-size: 20px;
font-weight: bold;
padding: 5px 30px;
position: relative;
bottom: 35px;
}
.primero > button{
padding: 20px 10px;
margin: 0px 30px;

font-weight: bolder;
font-size: 15px;

border-radius: 25px;
border: none;
box-shadow: 1px 1px 5px black;
position: relative;
bottom: 20px;
cursor: pointer;
}

.segundo > img{
display: block;
width: 25rem;
height: 200px;
border-radius: 20px 20px 0px 0px;
}

.segundo> h2{
position: relative;
bottom: 60px;
font-size: 35px;


margin: 0px 20px;
}
.segundo> p {
font-size: 20px;
font-weight: bold;
padding: 5px 30px;
position: relative;
bottom: 35px;
}
.segundo > button{
padding: 20px 10px;
margin: 0px 30px;

font-weight: bolder;
font-size: 15px;

border-radius: 25px;
border: none;
box-shadow: 1px 1px 5px black;
position: relative;
bottom: 20px;
cursor: pointer;
}

footer{
margin-top: 50px;
height: auto;


display: flex;
justify-content: flex-start;
align-items: center;

background-color:    #2471a3   ;
}

.Final-1{
width: 50rem;
    
}

.Final-1 >a {
display: inline-flex;
/* padding-right: 50px; */
margin: 30px 50px;
text-decoration: none;
font-size: 20px;
font-weight: bolder;
color: black;
}

.final-2 > h3{
text-align: center;

}

.final-2 > img{
display: inline-flex;
margin: 20px ;
cursor: pointer;



}








/* efectos */


.peque > a:hover {
color: white;
transition-duration: 0.3s;
}

.selec-2 > a:hover{
color: white;
}

.segundo:hover, .primero:hover {
transform: scale(1.2);
}

.segundo > button:hover, .primero > button:hover{
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
background-blend-mode: multiply,multiply;

color: white;
transition-duration: 0.3s;
}

.More-recomendaciones > a:hover{
background-color:black;
padding: 30px;
font-size: 20px;
border-radius: 10px;

color:  #fdfefe ;
/* margin: 0px 30px; */ 
}

.Final-1 > a:hover{
color: white;
}